body {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: #171717;
    display: block;
    margin: 0 auto 4em;
    padding: 0 0.5em;
    max-width: 40em;
}
.main {
    width: 100%;
}
.panel-small {
    display: inline-block;
    vertical-align: top;
    width: 10em;
}
.panel-medium {
    display: inline-block;
    vertical-align: top;
    width: 16em;
}
.panel-center {
    display: block;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    width: inherit;
}
.input {
    font-size: 0.9375em;
    width: 5em;
}
select {
    padding: 0.125em;
    font-size: 0.9375em;
    width: auto;
}
table {
    text-align: center;
    vertical-align: top;
}
th {
    min-width: 4em;
    font-size: 1.125em;
}
.table-center {
    margin: 0 auto;
}
.table-first {
    text-align: left;
    padding-right: 1em;
}
.table-input {
    width: 5em;
    font-size: 1.25em;
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0.125 0.25em;
}
.diff-labels {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-family: 'Teko';
    font-size: 1.75em;
    font-weight: bold;
}
.diff-count-1 {
    width: 20.79em;
}
.diff-count-2 {
    width: 10.5em;
}
.diff-count-3 {
    width: 6.9375em;
}
.diff-count-4 {
    width: 5.25em;
}
.diff-count-5 {
    width: 4.2em;
}
.button {
    width: auto;
}
.table-grid {
    border: 1px solid white;
    border-collapse: collapse;
}
.table-rpattern-image {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}
.deg45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.deg90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.deg135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.deg180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.deg225 {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}
.deg270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.deg315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}
