body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: #171717;
    display: block;
    margin: 0 auto 4em;
    padding: 0 1em;
    max-width: 40em;
}
.main {
    width: 100%;
}
.panel-small {
    display: inline-block;
    vertical-align: top;
    width: 10em;
}
.panel-medium {
    display: inline-block;
    vertical-align: top;
    width: 16em;
}
.input {
    font-size: 0.9375em;
    width: 5em;
}
#option-njs-scale {
    width: auto;
}
table {
    text-align: center;
    vertical-align: top;
}
th {
    min-width: 4em;
    font-size: 1.125em;
}
.table-first {
    text-align: left;
    padding-right: 1em;
}
.table-input {
    width: 5em;
    font-size: 1.25em;
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0.125 0.25em;
}
