---
import Main from '../layouts/Main.astro';

import EBPM from '../components/EBPM';
import NJSCalculator from '../components/NJSCalculator';
import ScoreCalculator from '../components/ScoreCalculator';
import SPSDifference from '../components/SPSDifference';
import DifficultyLabel from '../components/DifficultyLabel';
import ColorPicker from '../components/ColorPicker';
import RandomPatternGenerator from '../components/RandomPatternGenerator';
---

<Main>
   <div class="wrapper">
      <nav class="wrapper-sidenav">
         <div class="panel-sidenav">
            <div><a href="#map-tools">Map Tools</a></div>
            <div><a href="#ebpm-precision">EBPM & Precision</a></div>
            <div><a href="#njs-calculator">NJS Calculator</a></div>
            <div><a href="#color-picker">Color Picker</a></div>
            <div><a href="#score-calculator">Score Calculator</a></div>
            <div><a href="#sps-difference">SPS Difference</a></div>
            <div><a href="#difficulty-label">Difficulty Label</a></div>
            <div><a href="#random-pattern">Random Pattern Generator</a></div>
         </div>
      </nav>
      <div id="map-tools">
         <h2>Map Tools</h2>
         <center>
            -- Work-in-progress --
            <br />
             do let me know what you would want from this
         </center>
      </div>
      <hr />
      <EBPM client:load />
      <hr />
      <NJSCalculator client:load />
      <hr />
      <ColorPicker client:load />
      <hr />
      <ScoreCalculator client:load />
      <hr />
      <SPSDifference client:load />
      <hr />
      <DifficultyLabel client:load />
      <hr />
      <RandomPatternGenerator client:load />
   </div>
</Main>
