---
import packJson from '../../package.json';

const watermark = '@kivalevan';
const version = 'pre-' + packJson.version + 'a';
---

<div class="subpanel-right">
   <a href="https://kivalevan.github.io/">{watermark}</a> | <a
      href="https://github.com/KivalEvan/BeatSaber-MappingUtility/blob/main/CHANGELOG.md"
      >{version}</a
   >
</div>
